
#foreach ($friend in $friendList)

		To 
		$friend.firstName $friend.name
		$friend.address.number $friend.address.street
		$friend.address.town
		
		Dear $friend.firstName
		
		I would like to invite you to a party this Saturday, 8PM at my place.
		
		Cheers, me
		
		----------------------------------------------------------------

#end
