#for(friend in friendList)
		To 
		$friend.name $friend.FirstName
		$friend.address
		
		Dear $friend.name
		
		I would like to invite you to a party this Saturday, 8PM at my place.
		
		Cheers, me
		
		----------------------------------------------------------------

#end
	